#jira-frontend {
  background-image: var(--fast-track-custom-theme-image) !important;
  background-position: 50% !important;
  background-size: cover !important;
}

#ak-jira-navigation header,
#ak-side-navigation nav {
  --ds-surface: transparent;
  --ds-menu-seperator-color: transparent;
  --ds-menu-scroll-indicator-color: transparent;
  scrollbar-color: initial transparent;
  background: transparent !important;
  backdrop-filter: blur(50px) !important;
}

#ak-main-content::before {
  position: absolute;
  inset: 0;
  content: '';
  background: #ffffff3d;
  backdrop-filter: blur(4px);
}

#gh,
#ghx-pool,
#ghx-column-header-group {
  background: none !important;
}

#ghx-pool .ghx-swimlane-header {
  background: #ffffff3d !important;
  backdrop-filter: blur(12px) !important;
}
