.linear {
  --font-sans: 'Inter', system-ui, -apple-system, 'Segoe UI', sans-serif;
  --bg: #ffffff;
  --gray3: #f3f4f6;
  --gray4: #edeef0;
  --gray6: #e3e6e9;
  --gray8: #c2c8d0;
  --gray9: #a0a8b2;
  --gray10: #8c94a0;
  --gray11: #667085;
  --gray12: #111827;

  [cmdk-root] {
    max-width: 640px;
    width: 100%;
    background: #ffffff;
    border-radius: 0px;
    overflow: hidden;
    padding: 0;
    font-family: var(--font-sans);
    box-shadow: var(--cmdk-shadow);
    outline: none;
    font-size: 0.875rem;

    .dark & {
      background: linear-gradient(
        136.61deg,
        rgb(39, 40, 43) 13.72%,
        rgb(45, 46, 49) 74.3%
      );
    }
  }

  [cmdk-linear-shortcuts],
  [data-slot='command-shortcut'] {
    font-family: var(--font-sans);
    display: flex;
    margin-left: auto;
    gap: 3px;

    kbd {
      font-size: 12px;
      color: var(--gray11);
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  [cmdk-input] {
    font-family: var(--font-sans);
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    background: var(--bg);
    color: var(--gray12);
    caret-color: #6e5ed2;
    margin: 0;

    &::placeholder {
      color: var(--gray9);
    }
  }

  [cmdk-item],
  [cmdk-loading] {
    content-visibility: auto;

    cursor: pointer;
    min-height: 44px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    color: var(--gray12);

    user-select: none;
    will-change: background, color;
    transition: all 150ms ease;
    transition-property: none;
    position: relative;

    &[data-selected='true'] {
      background: var(--gray3);

      svg {
        color: var(--gray12);
      }
    }

    &[data-disabled='true'] {
      color: var(--gray8);
      cursor: not-allowed;
    }

    &:active {
      transition-property: background;
      background: var(--gray4);
    }

    /* & + [cmdk-item] {
      margin-top: 4px;
    } */

    svg {
      width: 16px;
      height: 16px;
      color: var(--gray10);
    }
  }

  [cmdk-list] {
    height: 280px;
    padding: 4px;
    overflow: auto;
    overscroll-behavior: contain;
    scroll-padding-block-start: 8px;
    scroll-padding-block-end: 8px;
  }

  [cmdk-group] {
    padding-top: 0;
    padding-bottom: 0;
  }

  [cmdk-group-heading] {
    user-select: none;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--gray11);
    padding: 0px 13px;
    height: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  [cmdk-empty] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    white-space: pre-wrap;
    color: var(--gray11);
  }
}
